<!DOCTYPE html>
<html lang="en">
<head>
    <title>Apagar Conta</title>
    <link rel="icon" href="./images/bro_icon.png">
    <link rel="stylesheet" type="text/css" href="./css/login_style.css">
</head>
<body>
<%- include ../navbar.ejs %>

<div class="info-box">
    <form action="/delete_account" method="post">
        <h2>Deseja mesmo deletar?</h2>
        <div class="row">
            <label>Digite sua senha para confirmar a ação:
                <input class="text-input-single-line" id="password" name="password" type="password">
            </label>
        </div>
        <button class="std-btn" type="submit">Sim</button>
        <input class="std-btn" type="button" name="nao-btn" value="Não"
               onclick="window.location='/my_account';">
    </form>
</div>
</body>
</html>
