* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

body {
    background-color: #C9CAD9;
}

#header {
    background-color: #F8F1FF;
    width: 100%;
    height: 52px;
    border-top: 5px solid #7cdfff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo img {
    float: left;
    width: 80px;
    height: 100%;
    margin: 10px 20px;
}

.main-menu {
    float: left;
    width: 100px;
    height: 45px;
    background-color: #F8F1FF;
}

.main-menu ul li:hover {
    background-color: #F8F1FF;
}

.main-menu ul {
    list-style-type: none;
}

.main-menu ul li {
    width: 100px;
    display: block;
    height: 47px;
    padding-top: 15px;
    text-align: center;
    background-color: #F8F1FF;
}

.main-menu ul li ul {
    display: none;
    margin-top: 15px;
    width: 00px;
    clear: both;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-menu ul li:hover ul {
    display: block;
}

.main-menu ul li .sub-menu {
    border-top: 2px solid #7cdfff;
    width: 240px;
}

.main-menu ul li ul li {
    display: block;
    padding-left: 10px;
    text-align: left;
    width: 240px;
    height: 40px;
}

.main-menu ul li:hover ul li ul {
    display: none;
}

.main-menu ul li:hover .sub-menu li:hover {
    background-color: #F8F8FF;
}

.main-menu ul li:hover .sub-menu li:hover {
    box-shadow: 0px 0px 1px 2px #888888;
}

.main-menu ul li:hover .sub-menu li:hover .sub-menu-1 {
    display: block;
    float: right;
    margin-left: 10px;
    margin-top: -16px;
    padding: 0px;
    box-shadow: 0px 0px 2px 2px #888888;
}

.search-box input[type="text"] {
    margin: 5px 10px 5px 20px;
    height: 36px;
    width: 30%;
    background-color: #F8F8FF;
    font-size: 18px;
    padding-left: 10px;
}

.top-bar-btn {
    font-size: 14px;
    border-radius: 8px;
    margin: 5px 10px 0px 10px;
    padding: 8px 20px 8px 20px;
    float: right;
}

#search-button {
    float: none;
}

#top-bar + h2 {
    margin: 70px 0;
    text-align: center;
    color: #C33C54;
}

.info-box {
    background-color: #F8F1FF;
    width: 1024px;
    margin: 30px auto;
    box-shadow: 3px 3px 10px 0px #888888;
}

.info-box h2 {
    color: #37718E;
    padding: 10px 15px;
}

.info-box form {
    padding: 20px 20px;
    font-size: 18px;
}

#no-courses-error {
    text-align: center;
    padding: 20px 0px;
    font-size: 26px;
    color: #C33C54;
}

.info-box form div {
    padding: 0px 0px 20px 0px;
    overflow: auto;
}

.info-box form div label {
    padding: 0px 15px 0px 0px;
}

.info-box form div p {
    padding: 0px 0px 10px 0px;
}

.info-box form div label div {
    padding: 0px 0px 0px 0px;
}

.info-box form div label div select {
    margin: 15px 10px 0px 10px;
    -webkit-appearance: menulist-button;
    height: 25px;
    font-size: 16px;
}

.info-box form div input,
input::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 3;
    padding: 0px 5px;
}

.text-input-single-line {
    width: 500px;
    height: 30px;
    margin: 0px 10px;
}

#thumbnail-input {
    width: 465px; /* 465px é migué pra deixar um embaixo do outro */
}

.text-input-multiline {
    vertical-align: top;
    margin: 0px 53px; /* 53px é migué pra deixar um embaixo do outro */
    font-size: 16px;
    width: 500px;
}

#requisites-box {
    vertical-align: top;
    margin: 15px 10px 0px 10px;
    font-size: 16px;
    width: 635px;
}

.form-btn {
    font-size: 16px;
    border-radius: 8px;
    margin: 5px 10px 0px 10px;
    padding: 8px 20px 8px 20px;
}
