<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Python 3 Megacourse</title>
	<link rel="stylesheet" type="text/css" href="./css/course_style.css">
	<link rel="icon" href="./images/bro_icon.png">
</head>
<body>

<div id="header">
<div id="top-bar">
<!--Main logo of website-->
  <div class="logo">
    <img src="./images/logo_horizontal.png" alt="brodemy" title="brodemy logo" width="100">
  </div>

<!--Main maineu of website-->
  <div class="main-menu">
   <ul>
     <li>Catálogo
       <ul class="sub-menu">
         <li>Software
         <ul class="sub-menu-1">
           <li>C++</li>
            <li>Java</li>
            <li>Python</li>
            <li>Javascript</li>
            <li>BIRL</li>
          
           </ul>
         </li>
         <li>Banco De Dados
           <ul class="sub-menu-1">
           <li>MySQL</li>
            <li>PostgreSQL</li>
            <li>MongoDB</li>
           </ul>
         </li>
         <li>Engenharia
         <ul class="sub-menu-1">
           <li>Cálculo</li>
            <li>Física</li>
            <li>Eletrônica</li>
           </ul></li>
       </ul>
     </li>
    </ul>
  </div>
  
<!--search bar of website-->
  <div class="search-box">
    <input type="text" placeholder="Buscar">
  	<input id="search-button" class="top-bar-btn" type="button" name="search-btn" value="Buscar">
    <input class="top-bar-btn" type="button" name="account-btn" value="Minha Conta">
  	<input class="top-bar-btn" type="button" name="courses-btn" value="Meus Cursos">
  </div>
</div>
</div>

<div class="course-header">
	<div class="course-img">
      <img src="https://udemy-images.udemy.com/course/480x270/625204_436a_2.jpg">
    </div>
    <div class="course-content">
      <h1>Título Do Curso</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <!-- <p><%= courses[i].title %></p>
      <p><%= courses[i].description %></p> -->
    </div>
  </div>
</div>

<div class="class-display">
    <h3>Nome da aula</h3>
    <p>Descrição da aula</p>
</div>

<div class="class-display">
    <h3>Aula 1</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

</body>
</html>
