<!DOCTYPE html>
<html>
<head>
    <title>Cadastro de aula</title>
    <link rel="stylesheet" type="text/css" href="../css/register_aula_style.css">
    <link rel="icon" href="../images/bro_icon.png">
</head>
<body>
<%- include ../navbar2.ejs %>
<div class='info-box'>
    <h2>Registrar Aula</h2>
</div>
<div class='info-box'>
    <form action="/register_class/<%=courses._id%>" method="post">
        <div>
            <label>
                Número da aula:
                <input type="text" class='text-input-single-line' name="number"
                       placeholder="Usado para ordenar as aulas na página do curso (crescentemente)" pattern="\d+"
                       title="Número da aula deve ser um número" required>
            </label>
        </div>
        <div>
            <label>
                Nome da aula:
                <input type="text" class='text-input-single-line' name="name" placeholder="Nome da aula" required>
            </label>
        </div>
        <div>
            <label>
                Descrição:
                <textarea class='text-input-multiline' name="description" rows="5"></textarea>
            </label>
        </div>
        <div>
            <label>
                Duração da aula (em minutos):
                <input type="text" class='text-input-single-line' name="duration"
                       placeholder="Duração da aula em minutos" pattern="\d+" title="Duração da aula deve ser um número"
                       required>
            </label>
        </div>
        <div>
            <label>
                URL da aula:
                <input type="text" class='text-input-single-line' name="url" placeholder="Link do vídeo no youtube"
                       required>
            </label>
        </div>
        <div>
            <label>
                <input type="checkbox" required>
                Eu concordo com os termos de serviço do BRODemy
            </label>
        </div>
        <button class='form-btn'>Submit</button>
    </form>
</div>

</body>
</html>
