<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Cadastro de aula</title>
    <link rel="stylesheet" type="text/css" href="../css/register_aula_style.css">
    <link rel="icon" href="./images/bro_icon.png">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
</head>
<body>
<div id="header">
    <div id="top-bar">
        <!--Main logo of website-->
        <div class="logo">
            <img src="./images/logo_horizontal.png" alt="brodemy" title="brodemy logo" width="100">
        </div>
        <!--Main maineu of website-->
        <div class="main-menu">
            <ul>
                <li>Catálogo
                    <ul class="sub-menu">
                        <li>Software
                            <ul class="sub-menu-1">
                                <li>C++</li>
                                <li>Java</li>
                                <li>Python</li>
                                <li>Javascript</li>
                                <li>BIRL</li>

                            </ul>
                        </li>
                        <li>Banco De Dados
                            <ul class="sub-menu-1">
                                <li>MySQL</li>
                                <li>PostgreSQL</li>
                                <li>MongoDB</li>
                            </ul>
                        </li>
                        <li>Engenharia
                            <ul class="sub-menu-1">
                                <li>Cálculo</li>
                                <li>Física</li>
                                <li>Eletrônica</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--search bar of website-->
        <div class="search-box">
            <input id="toSearch" name="toSearch" type="text" placeholder="Buscar">
            <input id="search-button" class="top-bar-btn" type="button" value="Buscar"
                   onclick="sendToResearch()">
            <% if(user.autorizado){ %>
            <input class="top-bar-btn" type="button" name="account-btn" value="Torne-se um instrutor"
                   onclick="window.location='/my_couses_manage';">
            <input class="top-bar-btn" type="button" name="account-btn" value="Minha Conta"
                   onclick="window.location='/my_account';">
            <input class="top-bar-btn" type="button" name="courses-btn" value="Meus Cursos"
                   onclick="window.location='/my_courses';">
            <% }else{ %>
            <input class="top-bar-btn" type="button" name="account-btn" value="Sign in"
                   onclick="window.location='/login';">
            <% } %>
        </div>
    </div>
</div>
<div class='info-box'>
    <h2>{{OPERAÇÃO}} Aula</h2> <!-- registrar ou editar -->
</div>
<div class='info-box'>
    <form action="/register_class/<%=courses._id%>" method="post">
        <div>
            <label>
                Número da aula:
                <input type="text" class='text-input-single-line' name="number"
                       placeholder="Usado para ordenar as aulas na página do curso (crescentemente)" pattern="\d+"
                       title="Número da aula deve ser um número" required>
            </label>
        </div>
        <div>
            <label>
                Nome da aula:
                <input type="text" class='text-input-single-line' name="name" placeholder="Nome da aula" required>
            </label>
        </div>
        <div>
            <label>
                Descrição:
                <textarea class='text-input-multiline' name="description" rows="5"></textarea>
            </label>
        </div>
        <div>
            <label>
                Duração da aula (em minutos):
                <input type="text" class='text-input-single-line' name="duration"
                       placeholder="Duração da aula em minutos" pattern="\d+" title="Duração da aula deve ser um número"
                       required>
            </label>
        </div>
        <div>
            <label>
                URL da aula:
                <input type="text" class='text-input-single-line' name="url" placeholder="Link do vídeo no youtube"
                       required>
            </label>
        </div>
        <div>
            <label>
                <input type="checkbox" required>
                Eu concordo com os termos de serviço do BRODemy
            </label>
        </div>
        <button class='form-btn'>Submit</button>
    </form>
</div>

<script type="text/javascript">
    function sendToResearch(){
        console.log("yo")
        let data = document.getElementById("toSearch").value;
        if (data == '')
            return;
        let url = "http://localhost:8080/courses/" + data;
        window.location.href = url;
    }
</script>

</body>
</html>
