<!DOCTYPE html>
<html>
<head>
    <title>Cadastro de Curso</title>
    <link rel="stylesheet" type="text/css" href="./css/register_course_style.css">
</head>
<body>
<%- include ../navbar.ejs %>
<div class='info-box'>
    <h2>{{OPERAÇÃO}} Curso</h2> <!-- registrar ou editar -->
</div>
<div class='info-box'>
    <form action="/register_course" method="post">
        <div>
            <label>
                Nome do curso:
                <input type="text" class='text-input-single-line' name="title" placeholder="Nome do curso"
                       required>
            </label>
        </div>
        <div>
            <label>
                Descrição:
                <textarea class='text-input-multiline' name="description" rows="5"></textarea>
            </label>
        </div>
        <div>
            <label>
                Requisitos (colocar um por linha, caso existam):
                <div>
                    <textarea id="requisites-box" name="requisites" rows="5"></textarea>
                </div>
            </label>
        </div>
        <div>
            <p>Nível de dificuldade:</p>
            <label>
                Básico
                <input type="radio" name="level" value="basic" required>
            </label>
            <label>
                Intermediário
                <input type="radio" name="level" value="intermediate">
            </label>
            <label>
                Advanced
                <input type="radio" name="level" value="advanced">
            </label>
        </div>
        <div>
            <label>
                <em>Thumbnail</em> do curso:
                <input type="text" id='thumbnail-input' class='text-input-single-line' name="image"
                       placeholder="Coloque a URL para a imagem">
            </label>
        </div>
        <div>
            <label>
                Categoria do curso:
                <div>
                    <select name="sub_category">
                        <option>C++</option>
                        <option>Java</option>
                        <option>Python</option>
                        <option>Javascipt</option>
                        <option>BIRL</option>
                        <option disabled="">----//-----</option>
                        <option>MySQL</option>
                        <option>PostgreSQL</option>
                        <option>MongoDB</option>
                        <option disabled="">----//----</option>
                        <option>Cálculo</option>
                        <option>Física</option>
                        <option>Eletrônica</option>
                    </select>
                </div>
            </label>
        </div>
        <div>
            <label>
                <input type="checkbox" required>
                Eu concordo com os termos de serviço do BRODemy
            </label>
        </div>
        <button type="submit" class='form-btn'>Submit</button>
    </form>
</div>
</body>
</html>
