<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Curso</title>
    <link rel="stylesheet" type="text/css" href="./css/register_course_style.css">
</head>
<body>
<div id="header">
    <div id="top-bar">
        <!--Main logo of website-->
        <div class="logo">
            <img src="./images/logo_horizontal.png"
                 alt="brodemy" title="brodemy logo" width="100">
        </div>
        <!--Main maineu of website-->
        <div class="main-menu">
            <ul>
                <li>Catálogo
                    <ul class="sub-menu">
                        <li>Software
                            <ul class="sub-menu-1">
                                <li>C++</li>
                                <li>Java</li>
                                <li>Python</li>
                                <li>Javascript</li>
                                <li>BIRL</li>

                            </ul>
                        </li>
                        <li>Banco De Dados
                            <ul class="sub-menu-1">
                                <li>MySQL</li>
                                <li>PostgreSQL</li>
                                <li>MongoDB</li>
                            </ul>
                        </li>
                        <li>Engenharia
                            <ul class="sub-menu-1">
                                <li>Cálculo</li>
                                <li>Física</li>
                                <li>Eletrônica</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--search bar of website-->
        <div class="search-box">
            <input type="text" placeholder="Buscar">
            <input id="search-button" class="top-bar-btn" type="submit" name="search-btn" value="Buscar">
            <input class="top-bar-btn" type="button" name="account-btn" value="Torne-se um instrutor">
            <input class="top-bar-btn" type="button" name="account-btn" value="Minha Conta">
            <input class="top-bar-btn" type="button" name="courses-btn" value="Meus Cursos">
        </div>
    </div>
</div>
<div class='info-box'>
    <h2>{{OPERAÇÃO}} Curso</h2> <!-- registrar ou editar -->
</div>
<div class='info-box'>
    <form action="/register_course" method="post">
        <div>
            <label>
                Nome do curso:
                <input type="text" class='text-input-single-line' name="title" placeholder="nome do curso" required>
            </label>
        </div>
        <div>
            <label>
                Descrição:
                <textarea class='text-input-multiline' name="description" rows="5"></textarea>
            </label>
        </div>
        <div>
            <label>
                Requisitos (colocar um por linha, caso existam):
                <div>
                    <textarea id="requisites-box" name="requisites" rows="5"></textarea>
                </div>
            </label>
        </div>
        <div>
            <p>Nível de dificuldade:</p>
            <label>
                Básico
                <input type="radio" name="level" value="basic" required>
            </label>
            <label>
                Intermediário
                <input type="radio" name="level" value="intermediate">
            </label>
            <label>
                Advanced
                <input type="radio" name="level" value="advanced">
            </label>
        </div>
        <div>
            <label>
                <em>Thumbnail</em> do curso:
                <input type="text" class='text-input-single-line' name="image"
                       placeholder="Coloque a URL para a imagem">
            </label>
        </div>
        <div>
            <label>
                Categoria do curso:
                <div>
                    <select name=subcategorie"">
                        <option>C++</option>
                        <option>Java</option>
                        <option>Python</option>
                        <option>Javascipt</option>
                        <option>BIRL</option>
                        <option disabled="">----//-----</option>
                        <option>MySQL</option>
                        <option>PostgreSQL</option>
                        <option>MongoDB</option>
                        <option disabled="">----//----</option>
                        <option>Cálculo</option>
                        <option>Física</option>
                        <option>Eletrônica</option>
                    </select>
                </div>
            </label>
        </div>
        <div>
            <label>
                <input type="checkbox" required>
                Eu concordo com os termos de serviço do BRODemy
            </label>
        </div>
        <button class='form-btn' type="submit">Submit</button>
    </form>
</div>
</body>
</html>
