<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <script src="js/jquery-2.2.1.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="../css/register_user_style.css">
    <!-- carregando icones -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="./images/bro_icon.png">
</head>
<body>
<div id="header">
    <div id="top-bar">
        <!--Main logo of website-->
        <div class="logo">
            <img src="./images/logo_horizontal.png" alt="brodemy" title="brodemy logo" width="100"
                 onclick="window.location='/';">
        </div>
        <!--Main maineu of website-->
        <div class="main-menu">
            <ul>
                <li>Catálogo
                    <ul class="sub-menu">
                        <li>Software
                            <ul class="sub-menu-1">
                                <li>C++</li>
                                <li>Java</li>
                                <li>Python</li>
                                <li>Javascript</li>
                                <li>BIRL</li>

                            </ul>
                        </li>
                        <li>Banco De Dados
                            <ul class="sub-menu-1">
                                <li>MySQL</li>
                                <li>PostgreSQL</li>
                                <li>MongoDB</li>
                            </ul>
                        </li>
                        <li>Engenharia
                            <ul class="sub-menu-1">
                                <li>Cálculo</li>
                                <li>Física</li>
                                <li>Eletrônica</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--search bar of website-->
        <div class="search-box">
            <form action="/course_search" method="post">
                <input name="toSearch" type="text" placeholder="Buscar">
                <input id="search-button" class="top-bar-btn" type="submit">
            </form>
            <% if(user.autorizado){ %>
            <input class="top-bar-btn" type="button" name="account-btn" value="Torne-se um instrutor"
                   onclick="window.location='/my_couses_manage';">
            <input class="top-bar-btn" type="button" name="account-btn" value="Minha Conta"
                   onclick="window.location='/my_account';">
            <input class="top-bar-btn" type="button" name="courses-btn" value="Meus Cursos"
                   onclick="window.location='/my_courses';">
            <% }else{ %>
            <input class="top-bar-btn" type="button" name="account-btn" value="Sign in"
                   onclick="window.location='/login';">
            <% } %>
        </div>
    </div>
</div>

<div class="info-box">
    <div class="row">
        <i class="material-icons prefix">account_circle</i>
        <label class="input-label">Nome:
            <input class="text-input-single-line" name="name" type="text"
                   value="<%= student.name %>">
        </label>
    </div>
    <div class="row">
        <i class="material-icons prefix">vpn_key</i>
        <label class="input-label">Senha:
            <input class="text-input-single-line" name="password" type="password"
                   value="<%= student.password %>" minlength="5" maxlength="20">
        </label>
    </div>
    <div class="row">
        <i class="material-icons prefix">email</i>
        <label class="input-label">E-mail:
            <input class="text-input-single-line" name="email" type="email"
                   value="<%= student.email %>">
        </label>
    </div>
    <div class="row">
        <button type="submit" class="std-btn">Cadastrar</button>
    </div>
    <div class="row">
        <p>Já tem uma conta? <a href="/login">Fazer Login</a></p>
    </div>
</div>

<% if(validacao.length > 0){ %>
<div class="info-box">
    <p id="no-courses-error"><strong><%= validacao[0].msg %></strong></p>
</div>
<% } %>

</body>
</html>
