<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="./css/login_style.css">
    <link rel="icon" href="./images/bro_icon.png">
</head>
<body>
<%- include navbar.ejs %>
<div class="info-box">
    <form action="/login" method="post">
        <div class="row">
            <i class="material-icons prefix">account_circle</i>
            <label class="input-label">E-mail:
                <input class="text-input-single-line" name="email" type="email" value="<%= login.email %>">
            </label>
        </div>
        <div class="row">
            <i class="material-icons prefix">vpn_key</i>
            <label class="input-label">Senha:
                <input class="text-input-single-line" name="password" type="password" value="<%= login.password %>">
            </label>
        </div>
        <div class="row">
            <button type="submit" class="std-btn">Login</button>
        </div>
        <div class="row">
            <p>Não tem uma conta? <a href="/register_user">cadastre-se</a></p>
        </div>
    </form>
</div>

<% if(validacao.length > 0){ %>
<div class="info-box">
    <p id="no-courses-error"><strong><%= validacao[0].msg %></strong></p>
</div>
<% } %>

</body>
</html>
