<!DOCTYPE html>
<html lang="en">
<head>
    <title>Datian Main</title>
    <link rel="stylesheet" type="text/css" href="./css/main_style.css">
    <link rel="icon" href="./images/bro_icon.png">
</head>
<body>
<%- include ../navbar.ejs %>

<% if(validacao.length > 0){ %>
<div class="info-box">
    <p id="no-courses-error"><strong><%= validacao[0].msg %></strong></p>
</div>
<% } %>

<div class="container">
    <form action="/change_password" method="post">
        <div class="jumbotron center-align" id="formulario">
            <div class="txt">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="passwordBefore" name="passwordBefore" type="password" class="validate">
                        <label class="active" for="passwordbefore">Antiga senha</label>
                    </div>
                    <input type="checkbox" onclick="myFunction()">Show Password
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">vpn_key</i>
                        <input id="passwordAfter" name="passwordAfter" type="password" class="validate">
                        <label class="active" for="passwordafter">nova senha</label>
                    </div>
                    <input type="checkbox" onclick="myFunction()">Show Password
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">vpn_key</i>
                        <input id="passwordAfter2" name="passwordAfter2" type="password" class="validate">
                        <label class="active" for="passwordafter2">repetir a senha</label>
                    </div>
                    <input type="checkbox" onclick="myFunction()">Show Password>
                </div>

            </div>
            <button type="submit" class="btn   blue darken-2 center" id="Login">change</button>
        </div>
    </form>
</div>

<script type="text/javascript">
    function sendToResearch(){
        console.log("yo")
        let data = document.getElementById("toSearch").value;
        if (data == '')
            return;
        let url = "http://localhost:8080/courses/" + data;
        window.location.href = url;
    }
</script>

</body>
</html>
